body {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    color: black;
}

ul {
    list-style-type: none;
    font-weight: 500;
}

.source {
    float: left;
    padding: 10px 30px;
    display: block;
    max-width: 30%;
}

.buttons {
    padding: 10px 30px;
    display: block;
    float: right;
}

.buttons li {
    padding: 5px 0px;
}

button {
    padding: 5px;
    font-family: inherit;
    font-size: 10pt;
    font-weight: 600;
    background-color: gainsboro;
    border: none;
}

.source_title {
    font-style: italic;
}

.poem_title {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}

.diff {
    font-weight: 600;
}

.hide_colors {
    color: black !important;
}

.color0 {
    color: cornflowerblue;
}

.color1 {
    color: crimson;
}

.color2 {
    color: teal;
}

.color3{
    color: indigo;
}

.color4 {
    color: mediumblue;
}