body {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    color: black;
}

.source {
    float: left;
    padding: 10px 30px;
    display: block;
}

.source_title {
    font-style: italic;
}

.poem_title {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}

.diff {
    font-weight: 600;
}

.hide_colors {
    color: black !important;
}

.color0 {
    color: cornflowerblue;
}

.color1 {
    color: darkred;
}

.color2 {
    color: teal;
}

.color3{
    color: indigo;
}

.color4 {
    color: mediumblue;
}