<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/poem.css">
    <script src="https://kit.fontawesome.com/bc22427aa9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <title>The Dolphin: A Comparison</title>
</head>
<body>
<div class="home">
    <h3>Comparing <i>The Dolphin</i></h3>

    <h4>About</h4>
    <p>In 1970, the poet Robert Lowell moved to England for an Oxford fellowship, fell in love with the Anglo-Irish
        writer and heiress Lady Caroline Blackwood, and subsequently left his wife, the American writer Elizabeth
        Hardwick, and their thirteen-year-old daughter Harriet. Published in 1973, <i>The Dolphin</i> was Lowell’s
        collection of unrhymed sonnets about the dissolution of his twenty-one-year marriage and his new affair, which
        resulted in a child and marriage. Though the poems were not unusual in their form (Lowell wrote three books of
        unrhymed sonnets before <i>The Dolphin</i>), they were unusual — and controversial — for appropriating lines
        from the private letters that Hardwick had written Lowell between 1970 and 1972 as she learned of his affair
        and their marriage ended.</p>
    <p>Saskia Hamilton recently published two books. The first is <i>The Dolphin: Two Versions, 1972-1973</i>, which
        contains a facsimile of Lowell's original 1972 manuscript and the 1973 version of <i>The Dolphin</i> as it was
        first published. The second book is <i>The Dolphin Letters, 1970-1979</i>, which contains previously unpublished
        letters and correspondence between Lowell, Hardwick, and others in their circle. Though Hamilton does an
        admirable job of footnoting lines in <i>The Dolphin Letters</i> that Lowell appears to have appropriated, there
        is no index of all such lines anywhere <i>The Dolphin</i> itself has no footnotes to indicate the lines Lowell
        took from Hardwick.</p>
    <p>I've used these two books as a starting point in creating this website, which presents the letters Lowell used
        side-by-side with the resulting poems. I have color-coded various differences with the goal of making the
        appropriation — and often unkind alteration — of Hardwick's lines more visible.</p>
    <p>In working on this project, I have come across, perhaps ironically, some of the issues that plagued Lowell and
        Hardwick. What constitutes a difference? How similar must something be to be dishonest, untruthful, or
        appropriated? I have manually tagged differences between texts that seem, to me, significant. I hope that in
        presenting these texts side-by-side readers can make that judgment call for themselves. Though I began by only
        tagging differences associated with Lowell's appropriation of Hardwick's words, I also experimented with tagging
        aesthetic and editorial changes through Lowell's manuscript. I've done three complete examples, listed below,
        each slightly different.</p>
    <h4>Poems</h4>
    <ul>
        <li><a href="/green_sore">Marriage 7. Green Sore</a></li>
        <p>In this case, I have only tagged the two instances of appropriation. Note that letters are excerpted, which
            is not necessarily ideal but was the most practical approach at the moment. Future iterations of this
            project would benefit from including the entirety of any text being compared, but it would be most useful to
            position the text within a scrollable frame so that even lines from the end of a long letter could be
            displayed, upon first loading the page, side-by-side with the version Lowell included in the poems.</p>
        <li><a href="/pointing_the_horns_of_the_dilemma">Doubt 2. Pointing the Horns of the Dilemma</a></li>
        <p>I have tagged both lines from Hardwick and aesthetic and stylistic changes less or completely unrelated to
            Hardwick. The third difference in this particular case is notable in that I have essentially grouped similar
            changes from different lines and called it one difference. Though there are certainly arguments for and
            against doing so, I think it's important not to overwhelm the readers with too many colors and
            differences. Another thing to note in this case is that the manuscript version I have included is an
            inadequate replacement for the actual manuscript. I only used the "edited" version of the manuscript, which
            means the typed manuscript with all final (not crossed out) changes that Lowell and those helping him
            handwrote. </p>
        <li><a href="/voices">Hospital II 1. Voices</a></li>
        <p>Here I have tagged what might be considered "too many" differences. I've included both the 1972 manuscript as
            it was typed and the one with the final edits. Intermediate edits that were eventually crossed out are not
            included. In this particular case, there are also some differences that only appear between two of the three
            texts presented. I've only tagged differences in texts where there has been a change. For instance, the
            phrase "we hoped" is in both versions of the manuscript, but changed to "I knew" in the 1973 publication.
            I've only tagged this as a difference between the 1973 poem and the edited manuscript, even though the typed
            manuscript also differs from the 1973 poem. A question to further explore is how to visually present
            differences between a series of texts, though the method will probably depend in part on how these tags and
            comparisons are being used.</p>
    </ul>
</div>
</body>
<footer><a href="https://github.com/cindyz8735/dolphin"><i class="fab fa-github"></i></a></footer>
</html>