<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/poem.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <title>{{ page_name }}</title>
</head>
<body>
    {% for source in sources %}
        <div class="source">
            <h3 class="source_title">{{ source['title'] }}</h3>
            <h4 class="poem_title">{{ source['poem_title'] }}</h4>
            <div class="poem">
                {% for stanza in source['stanzas'] %}
                    <div class="stanza">
                        {% for line in stanza %}
                        <div class="line">
                            {% for word in line %}
                                {% if word[0] and word[1] %}
                                    <span class="italics diff diff{{ word[1] }} color{{ word[1]|int % 5}}">{{ word[2] }}</span>
                                {% elif word[0] %}
                                    <span class="italics">{{ word[2] }}</span>
                                {% elif word[1] %}
                                    <span class="diff diff{{ word[1] }} color{{ word[1]|int % 5 }}">{{ word[2] }}</span>
                                {% else %}
                                    <span>{{ word[2] }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="buttons">
        <ul><h4>View Differences</h4>
            <li><button id="color-toggle">Hide All Colors</button></li>
            {% for diff in range(1, num_diffs+1) %}
                <li><button class="diff-button" diff="{{ diff }}">Show Difference {{ diff }}</button></li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>